<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo Index</title>
  </head>
  <body>
    <h1>Todo List</h1>
    <ul>
      <li><%= todo.name%><span>(<%= todo.description%>)</span></li>
    </ul>
  </body>
</html>
