<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo Index</title>
  </head>
  <body>

    <h1>Things you need to get done:</h1>
    <form action="">
      <% allTodos.forEach(function(todo) { %>
      <input type = "checkbox"><%= todo.name%> <span>( <%= todo.description%> )</span><br>
      <% }) %>
    </form>

  </body>
</html>
