<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Todos</title>
  </head>
  <body>
    <h1><%= todo.name %></h1>
    <h3><%= todo.description %></h3>
    <p>Completed: <%= todo.completed %></p>
  </body>
</html>
